[submodule "apps/ArduinoBridge"]
	path = apps/ArduinoBridge
	url = https://github.com/mangOH/ArduinoBridge
[submodule "apps/DataRouter"]
	path = apps/DataRouter
	url = https://github.com/mangOH/DataRouter
[submodule "apps/MqttClient"]
	path = apps/MqttClient
	url = https://github.com/mangOH/MqttClient
[submodule "apps/GpioExpander"]
	path = apps/GpioExpander
	url = https://github.com/mangOH/GpioExpander
[submodule "apps/MuxControl"]
	path = apps/MuxControl
	url = https://github.com/mangOH/MuxControl
[submodule "apps/SocialService"]
	path = apps/SocialService
	url = https://github.com/mangOH/SocialService
[submodule "samples/TemperatureMonitor"]
	path = samples/TemperatureMonitor
	url = https://github.com/mangOH/TemperatureMonitor
[submodule "samples/RelayControl"]
	path = samples/RelayControl
	url = https://github.com/mangOH/RelayControl
[submodule "samples/Demos"]
	path = samples/Demos
	url = https://github.com/mangOH/Demos
