[submodule "apps/ArduinoBridge"]
	path = apps/ArduinoBridge
	url = https://github.com/mangOH/ArduinoBridge
[submodule "apps/DataRouter"]
	path = apps/DataRouter
	url = https://github.com/mangOH/DataRouter
[submodule "apps/MqttClient"]
	path = apps/MqttClient
	url = https://github.com/mangOH/MqttClient
[submodule "apps/GpioExpander"]
	path = apps/GpioExpander
	url = https://github.com/mangOH/GpioExpander
[submodule "apps/MuxControl"]
	path = apps/MuxControl
	url = https://github.com/mangOH/MuxControl
[submodule "apps/SocialService"]
	path = apps/SocialService
	url = https://github.com/mangOH/SocialService
[submodule "samples/TemperatureMonitor"]
	path = samples/TemperatureMonitor
	url = https://github.com/mangOH/TemperatureMonitor
[submodule "samples/RelayControl"]
	path = samples/RelayControl
	url = https://github.com/mangOH/RelayControl
[submodule "samples/Demos"]
	path = samples/Demos
	url = https://github.com/mangOH/Demos
[submodule "linux_kernel_modules/cp2130"]
	path = linux_kernel_modules/cp2130
	url = https://github.com/mangOH/cp2130
	branch = development
[submodule "apps/RedSensorToCloud"]
	path = apps/RedSensorToCloud
	url = https://github.com/mangOH/RedSensorToCloud
[submodule "apps/Heartbeat"]
	path = apps/Heartbeat
	url = https://github.com/mangOH/Heartbeat
[submodule "apps/BatteryService"]
	path = apps/BatteryService
	url = https://github.com/mangOH/BatteryService
[submodule "samples/BatteryClient"]
	path = samples/BatteryClient
	url = https://github.com/mangOH/BatteryClient
[submodule "apps/LocationTriangulation"]
	path = apps/LocationTriangulation
	url = https://github.com/mangOH/LocationTriangulation
[submodule "linux_kernel_modules/bme680/BME680_driver"]
	path = linux_kernel_modules/bme680/BME680_driver
	url = https://github.com/BoschSensortec/BME680_driver.git
