menuconfig POWER_SUPPLY
	bool "Power supply class support"
	help
	  Say Y here to enable power supply class support. This allows
	  power supply (batteries, AC, USB) monitoring by userspace
	  via sysfs and uevent (if available) and/or APM kernel interface
	  (if selected below).

if POWER_SUPPLY


config CHARGER_BQ25601
	tristate "TI BQ25601 battery charger driver"
	depends on I2C && GPIOLIB
	help
	  Say Y to enable support for the TI BQ25601 battery charger.


endif # POWER_SUPPLY

