#
# FBWS IMU driver
#

config FBWS
	tristate
	depends on FB
	select FB_SYS_IMAGEBLIT
	select FB_DEFERRED_IO



config RPIFB
	tristate "Bosch FBWS SPI driver"
	depends on SPI
	select FBWS
	select REGMAP_SPI
	help
	  If you say yes here you get support for BMI160 IMU on SPI with
	  accelerometer, gyroscope and external BMG160 magnetometer.

	  This driver can also be built as a module. If so, the module will be
	  called bmi160_spi.
